<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">



    <title>CANALES</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="boton-menu">
                <label for="boton-menu">☰</label>
            </div>
            <div class="logo">
                <h1>CANALES</h1>
            </div>
            <nav class="menu">
                <a href="">CREAR CANAL</a>
                <a href="">SALIR</a>
            </nav>
        </div>
    </header>

  
    <div class="capa"></div>

    <div class="main-div">
       
        
        <input type="checkbox" id="boton-menu">



        <div class="container-menu">
            
                <div class="contenido-menu" id="contenido-menu">
                   <nav>
                        <a href="">Canal 1</a>
                         <a href="">Canal 2</a>
                        <a href="">Canal 3</a>
                   </nav>
                       <label for="boton-menu">X</label>
              </div>


        </div>

        
        <div class="mensaje-div">
            <h2>Mensajes De PERSONA</h2>
                <div class="mensajes">
                    <div class="messagase">
                        <p class="mensaje-otro">hola</p>
                        <p class="mensaje-usuario">cpillin</p>
                    </div>
                    <form action="">
                        <input type="text">
                        <button>Enviar</button>
                    </form>
                </div>
        </div>
    </div>

   
</body>
</html>